[Unit]
Description=Run ContinuityOS data backup daily

[Timer]
OnBootSec=15min
OnCalendar=*-*-* 03:20:00
Persistent=true
RandomizedDelaySec=10min

[Install]
WantedBy=timers.target
